# info on Jupyter Lab
https://jupyter.sitebuilt.net/lab/workspaces/auto-f/tree/info/info.ipynb

## extensions

In [57]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
%%sql
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
(sqlite3.OperationalError) table EMPLOYEE already exists
[SQL: CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [59]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [60]:
sql sqlite://

In [61]:
%%sql
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

 * sqlite://
(sqlite3.OperationalError) table EMPLOYEE already exists
[SQL: CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [62]:
 %sql SELECT * from EMPLOYEE;

 * sqlite://
Done.

[('Tom', 'Mitchell'), ('Jack', 'Ryan')]

In [63]:
import pandas
pandas.__version__

'2.0.3'

In [64]:
import ipywidgets as widgets

In [65]:
widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

IntSlider(value=3, description='Slider:', max=10)

In [66]:
from IPython.display import display

In [67]:
slider = widgets.IntSlider()
display(slider)

IntSlider(value=0)

In [68]:
slider.value

0

In [69]:
slider = widgets.IntSlider()
text = widgets.IntText()
display(slider, text)
widgets.jslink((slider, 'value'), (text, 'value'))

IntSlider(value=0)

IntText(value=0)

Link(source=(IntSlider(value=0), 'value'), target=(IntText(value=0), 'value'))

In [70]:
print(dir(widgets))

['Accordion', 'AppLayout', 'Audio', 'BoundedFloatText', 'BoundedIntText', 'Box', 'Button', 'ButtonStyle', 'CallbackDispatcher', 'Checkbox', 'Color', 'ColorPicker', 'ColorsInput', 'Combobox', 'Controller', 'CoreWidget', 'DOMWidget', 'DatePicker', 'Datetime', 'DatetimePicker', 'Dropdown', 'FileUpload', 'FloatLogSlider', 'FloatProgress', 'FloatRangeSlider', 'FloatSlider', 'FloatText', 'FloatsInput', 'GridBox', 'GridspecLayout', 'HBox', 'HTML', 'HTMLMath', 'Image', 'IntProgress', 'IntRangeSlider', 'IntSlider', 'IntText', 'IntsInput', 'Label', 'Layout', 'NaiveDatetimePicker', 'NumberFormat', 'Output', 'Password', 'Play', 'RadioButtons', 'Select', 'SelectMultiple', 'SelectionRangeSlider', 'SelectionSlider', 'SliderStyle', 'Stack', 'Style', 'Tab', 'TagsInput', 'Text', 'Textarea', 'TimePicker', 'ToggleButton', 'ToggleButtons', 'ToggleButtonsStyle', 'TwoByTwoLayout', 'TypedTuple', 'VBox', 'Valid', 'ValueWidget', 'Video', 'Widget', '__builtins__', '__cached__', '__doc__', '__file__', '__jupyter_widgets_base_version__', '__jupyter_widgets_controls_version__', '__loader__', '__name__', '__package__', '__path__', '__protocol_version__', '__spec__', '__version__', '_handle_ipython', '_version', 'comm', 'dlink', 'docutils', 'domwidget', 'fixed', 'get_ipython', 'interact', 'interact_manual', 'interaction', 'interactive', 'interactive_output', 'jsdlink', 'jslink', 'link', 'load_ipython_extension', 'os', 'register', 'register_comm_target', 'sys', 'trait_types', 'utils', 'valuewidget', 'widget', 'widget_bool', 'widget_box', 'widget_button', 'widget_color', 'widget_controller', 'widget_core', 'widget_date', 'widget_datetime', 'widget_description', 'widget_float', 'widget_int', 'widget_layout', 'widget_link', 'widget_media', 'widget_output', 'widget_selection', 'widget_selectioncontainer', 'widget_serialization', 'widget_string', 'widget_style', 'widget_tagsinput', 'widget_templates', 'widget_time', 'widget_upload', 'widgets']

In [71]:
btn = widgets.Button(description='Medium')
display(btn)
def btn_eventhandler(obj):
    print('Hello from the {} button!'.format(obj.description))
btn.on_click(btn_eventhandler)

Button(description='Medium', style=ButtonStyle())

In [72]:
import pandas as pd
import numpy as np
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"
df_london = pd.read_csv(url,encoding='latin1')

In [73]:
import numpy as np

In [74]:
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

In [75]:
print(url)

https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv

In [76]:
df_london = pd.read_csv(url, encoding="latin1")

In [77]:
print(df_london)

        year        quarter        market     dur_stay mode        purpose  \
0       2002  January-March       Belgium  1-3  nights  Air        Holiday
1       2002  January-March       Belgium  1-3  nights  Air       Business
2       2002  January-March       Belgium  1-3  nights  Air            VFR
3       2002  January-March       Belgium  1-3  nights  Air  Miscellaneous
4       2002  January-March       Belgium  1-3  nights  Sea       Business
...      ...            ...           ...          ...  ...            ...
61457  2020P  January-March  Other Africa  4-7  nights  Air  Miscellaneous
61458  2020P  January-March  Other Africa  8-14 nights  Air        Holiday
61459  2020P  January-March  Other Africa  8-14 nights  Air            VFR
61460  2020P  January-March  Other Africa  15+  nights  Air        Holiday
61461  2020P  January-March  Other Africa  15+  nights  Air            VFR

          area  Visits (000s)  Spend (£m)  Nights (000s)  sample
0       LONDON       3.572186    0.969138       6.954456       5
1       LONDON       9.284226    2.399577      12.604959      19
2       LONDON       0.877182    0.089833       2.153128       3
3       LONDON       0.163874    0.010160       0.163874       1
4       LONDON       1.648670    0.016789       1.650300       1
...        ...            ...         ...            ...     ...
61457   LONDON       1.695331    1.103167       8.831038       2
61458   LONDON       1.486972    2.022254       7.836555       1
61459   LONDON       2.416554    1.847152      63.894432       2
61460   LONDON       2.472653    1.006109      35.080377       2
61461   LONDON       4.124325    3.960705     134.909755       4

[61462 rows x 11 columns]

ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))

print(dropdown_year)

def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])
        
dropdown_year.observe(dropdown_year_eventhandler, names='value')

display(dropdown_year)

In [79]:
print(unique_sorted_values_plus_ALL(df_london.year))

['ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020P']

In [80]:
display(df_london)

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (£m),Nights (000s),sample
0,2002,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.572186,0.969138,6.954456,5
1,2002,January-March,Belgium,1-3 nights,Air,Business,LONDON,9.284226,2.399577,12.604959,19
2,2002,January-March,Belgium,1-3 nights,Air,VFR,LONDON,0.877182,0.089833,2.153128,3
3,2002,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.163874,0.010160,0.163874,1
4,2002,January-March,Belgium,1-3 nights,Sea,Business,LONDON,1.648670,0.016789,1.650300,1
...,...,...,...,...,...,...,...,...,...,...,...
61457,2020P,January-March,Other Africa,4-7 nights,Air,Miscellaneous,LONDON,1.695331,1.103167,8.831038,2
61458,2020P,January-March,Other Africa,8-14 nights,Air,Holiday,LONDON,1.486972,2.022254,7.836555,1
61459,2020P,January-March,Other Africa,8-14 nights,Air,VFR,LONDON,2.416554,1.847152,63.894432,2
61460,2020P,January-March,Other Africa,15+ nights,Air,Holiday,LONDON,2.472653,1.006109,35.080377,2
61461,2020P,January-March,Other Africa,15+ nights,Air,VFR,LONDON,4.124325,3.960705,134.909755,4

In [81]:
display(dropdown_year)

Dropdown(index=7, options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '201…

In [82]:
out = widgets.Output(layout={'border': '1px solid black'})
out

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid b…

In [88]:
from IPython.display import YouTubeVideo
out.clear_output()
with out:
    display(YouTubeVideo('eWzY2nGfkXk'))

In [89]:
def dropdown_year_eventhandler(change):
    out.clear_output()
    with out:
        if (change.new == ALL):
            display(df_london)
        else:
            display(df_london[df_london.year == change.new])

In [90]:
dropdown_year.observe(dropdown_year_eventhandler, names='value')

In [91]:
display(dropdown_year)

Dropdown(index=15, options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '20…