# test notebook

In [1]:
import numpy as np
sections = np.array([[74,"6'",17],[80.25,"8'", 19]])
print(sections)
rail = 1
print(sections[rail,1])

[['74' "6'" '17']
 ['80.25' "8'" '19']]
8'

In [2]:
import pandas as pd
takeoff = pd.read_csv('Book1.csv')
takeoff.head()

  ﻿location  length rail    ballusters Unnamed: 4
0         a   74.00  "6'"           17        NaN
1         b   80.25  "8'"           19        NaN
2       NaN     NaN   NaN       =D2+D3        =D4
3       NaN     NaN   NaN  =SUM(D2:D4)        =D5
4       NaN     NaN   NaN          NaN        NaN